* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

body {
  position: relative;
  background-image: url(./assets/book-bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin: 7px;
  border: 2px solid;
}

.btn {
  width: 70px;
  padding: 2.5px;
  box-shadow: 3px 3px;
  background-color: #fff;
  margin-left: 185px;
  cursor: pointer;
}


.book-list {
  margin: 0 20px;
  border: 3px solid;
}

.book-dynamic {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.4rem 0.8rem;
}

.book-ul {
  display: flex;
  justify-content: flex-end;
}

.li li {
  padding-right: 10px;
  list-style: none;
  border-right: 2px solid #000;
  line-height: 2.5;
  cursor: pointer;
}

.li li:last-child {
  border-right: none;
  padding-right: 0;
}

.li li a {
  font-size: 20px;
  font-weight: 900;
}

.li:nth-child(odd) {
  background-color: #ccc;
}

.title-author {
  width: 95%;
  float: left;
}

#title {
  width: 250px;
  padding: 5px;
  border: 2.5px solid;
}

#author {
  width: 250px;
  padding: 5px;
  border: 2.5px solid;
}
